<div class="authincation h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12 ">
                            <div class="auth-form">
                                <i style="cursor:pointer" routerLink="/login" class="fas fa-backward fa-4x text-primary"></i>
                                <div class="text-center mb-3">
                                    <a href="index.html"><img src="images/logo-full.png" alt=""></a>
                                </div>
                                <div class="text-center mb-3">
                                    <a href="index.html"><img src="assets/images/logo-full.png" alt=""></a>
                                </div>
                                <h4 class="text-center mb-4">Sign up your account</h4>
                                <form action="index.html">
                                    <div class="mb-3">
                                        <label class="mb-1"><strong>Username</strong></label>
                                        <input type="text" class="form-control" placeholder="username">
                                    </div>
                                    <div class="mb-3">
                                        <label class="mb-1"><strong>Full Name</strong></label>
                                        <input type="text" class="form-control" placeholder="Full Name">
                                    </div>
                                    <div class="mb-3">
                                        <label class="mb-1"><strong>Address</strong></label>
                                        <input type="text" class="form-control" placeholder="Address">
                                    </div>
                                    <div class="mb-3">
                                        <label class="mb-1"><strong>Phone Number</strong></label>
                                        <input type="text" class="form-control" placeholder="Phone Number">
                                    </div>
                                    <div class="mb-3">
                                        <label class="mb-1"><strong>Email</strong></label>
                                        <input type="email" class="form-control" placeholder="hello@example.com">
                                    </div>
                                    <div class="mb-3">
                                        <label class="mb-1"><strong>ID Number</strong></label>
                                        <input type="text" class="form-control" placeholder="ID Number">
                                    </div>
                                    <div class="mb-3">
                                        <label class="mb-1"><strong>SSN/TRN</strong></label>
                                        <input type="text" class="form-control" placeholder="SSN/TRN">
                                    </div>
                                    <div class="mb-3">
                                        <label class="mb-1"><strong>Country</strong></label>
                                        <input type="text" class="form-control" placeholder="Country">
                                    </div>
                                    <div class="mb-3">
                                        <label class="mb-1"><strong>Password</strong></label>
                                        <input type="password" class="form-control" >
                                    </div>
                                    <div class="mb-3">
                                        <label class="mb-1"><strong>Confirm Password</strong></label>
                                        <input type="password" class="form-control" >
                                    </div>
                                    <div class="text-center mt-4">
                                        <button type="submit" class="btn btn-primary btn-block">Sign me up</button>
                                    </div>
                                </form>
                                <div class="new-account mt-3">
                                    <p>Already have an account? <a class="text-primary" routerLink="/login">Sign in</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>